@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

html{
    font-size: 62.5%;
}


.formBox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid rgb(57, 57, 57);
  padding: 3rem 1rem;
  /* padding-top: 2rem;
  padding-bottom: 90px;
  padding-right: 40px;
  padding-left: 40px; */
  background-color: rgb(255, 251, 251);
  border-radius: 1rem;
  position: relative;
}


.chat-container {
    margin-top: 5rem;
    border: 0.1rem solid #ddd;
    border-radius: 1rem;
    height: 50rem;
    overflow-y: scroll;
    background-color: aliceblue;
  }

  .chat-message {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }

  .chat-message .sender {
    font-weight: bold;
    margin-right: 0.5rem;
  }

  .chat-message .timestamp {
    font-size: 1.2rem;
    color: #aaa;
  }

  .chat-input {
    margin-top: 2rem;
  }

 .AuctionField{
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 0.6rem;
    border: none;
    background-color: #f6f7eb;
    width: 100%;
    box-sizing: border-box;
  }
  .subcen{
    margin-top: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  }
  /* 
  @media(min-width:1600px){
    html{ 
      font-size: 75%;

    }
  }
  @media(max-width:412px){
    html{ 
      font-size: 50%;

    }
  }
  @media(max-width:350px){
    html{ 
      font-size: 45%;

    }
  }
  @media(max-width:300px){
    html{ 
      font-size: 30%;

    }
  }
  @media(max-width:200px){
    html{ 
      font-size: 20%;

    }
  }
  @media(max-width:140px){
    html{ 
      font-size: 10%;

    }
  } */