@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;600&display=swap');
html{
    font-size: 62.5%;
}



header .head-container143{
  background-color:#d2f0f3;
  color: #fff;
  padding: 2rem;
  margin: 2rem;
  height: 6.5rem;
}

.head143 {
  margin: 5rem;
  font-size: 3rem;
  display: flex;
  justify-content:center ;
  align-items: center;
  font-family: 'Anton', sans-serif;
}

#f143 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

#l143 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 6rem;
  /* margin-bottom: 1rem; */
  /* margin-left: -90rem; */
  /* margin-top: 1rem; */
}
/* .container143 */
h1 .data-head143{
  font-family: 'Anton', sans-serif;
  /* font-family:'Chivo Mono', monospace; */
  font-size: large;
  padding: 5rem;
}
.data-para143{
  padding: 2rem;
  font-family: 'Ubuntu', sans-serif; 
  font-size: 2.6rem;
  font-style: bold;
}
.TypeHector{
  width: 33rem;
  margin: 2rem;
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid #0c0b0b;
  border-radius: 0.5rem;
  margin-top: -4.8rem;
}
#result143{
      
      background-color:#d2f0f3;
      width: 100%;
      margin: 2rem auto;
      font-size: 1.4rem;
      padding: 2rem;
      border: 1px solid #131415;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    
}

.flex143 {
  display: flex;
  justify-content: space-between;
}

.img143 {
  width: 30%;
  height: auto;
  margin: 3px;
  margin-left: 5rem;
}

#csv143 {
  margin:1.5rem;
  background-color: #d2f0f3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Set the height of the container */
}
#csvimg143{
  max-width: 100%; /* Ensure the image does not exceed the width of the container */
  max-height: 100%;
  border: #131415;
}
#raw143{
  margin-left: 12%;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.6rem;
}
#pro143{
  font-size: 1.6rem;
  margin-left: 33%;
  font-weight: bold;
  text-decoration: underline;
}
#remarks143{
  font-size: 1.6rem;
  margin-left: 25%;
  font-weight: bold;
  text-decoration: underline;
}
footer .aboutus143{
background-color: #000000;
color: #ffffff;
/* margin: 10rem; */
padding:15rem 10rem;
font-family: 'Anton', sans-serif;
font-size:x-large;
/* margin: 10rem; */
}
.space143{
  margin:20rem;
}
.container143{
  background-color: #d2f0f3;
  width: 100%;
  margin: 5rem auto;
  /* font-size: 1.4rem; */
  padding: 5rem;
  border: 1px solid #131415;
  position: relative;
}

.container143 h1{
  color: black;
  width: 100%; 
}