@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

html{
    font-size: 62.5%;
}


.centerR{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  background: white;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1.5rem rgba(0,0,0,0.05);
}
.centerR h1{
  text-align: center;
  text-decoration-color: #e9f4fb;
  padding: 2rem 0rem;
  border-bottom: 1rem solid rgb(90, 180, 210);
  background-color: #1a4664;
  color: aliceblue;
}
.centerR form{
  padding: 0rem 4rem;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 0.2rem solid hsl(0, 0%, 68%);
  margin: 3rem 0rem;
}
.txt_field input{
  width: 100%;
  padding: 0 0.5rem;
  height: 4rem;
  font-size: 1.6rem;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 0.5rem;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 1.6rem;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 4rem;
  left: 0rem;
  width: 0%;
  height: 0.2rem;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -0.5rem;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -0.5rem 0rem 2rem 0.5rem;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 5rem;
  border: 0.1rem solid;
  background: #2691d9;
  border-radius: 2.5rem;
  font-size: 1.8rem;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 3rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

.Login {
  appearance: none;
  background-color: transparent;
  border: 0.125rem solid #1A1A1A;
  border-radius: 0.9375rem;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.5rem;
  min-width: 0;
  outline: none;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 
.Login:disabled {
  pointer-events: none;
 }
 
 .Login:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 .8rem 1.5rem;
  transform: translateY(-.2rem);
 }
 
 .Login:active {
  box-shadow: none;
  transform: translateY(0);
 }

 /* .GG{
  display:block ;
  justify-content: center;
  align-items: center;
 } */

 /* @media(min-width:1600px){
  html{ 
    font-size: 75%;

  }
}
@media(max-width:412px){
  html{ 
    font-size: 50%;

  }
}
@media(max-width:350px){
  html{ 
    font-size: 45%;

  }
}
@media(max-width:300px){
  html{ 
    font-size: 30%;

  }
}
@media(max-width:200px){
  html{ 
    font-size: 20%;

  }
}
@media(max-width:140px){
  html{ 
    font-size: 10%;

  }
} */